@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Click Here to add Doctor : <a asp-page="/Signup/DoctorsSignup">Click Here</a></p>
    <p>Click Here to add Clinic : <a asp-page="/Signup/ClinicsSignup">Click Here</a></p>
</div>

