@{
    // Check if the cookie with the specified name exists
    bool cookieExists = Context.Request.Cookies.ContainsKey("LoggedAccount");
    Console.WriteLine("cookieExists: " + cookieExists);
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Lists/viewDoctorsList">Doctors List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Lists/viewClinicsList">Clinics List</a>
    </li>
</ul>

@if (!cookieExists)
{
    <!-- Add a new ul for the login link -->    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">Login</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <form method="post" asp-page="/Login/Logout" asp-page-handler="OnPostLogout">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
}