@page
@using EhealthV2.Models
@model EhealthV2.Models.Users.Clinics
@{

}
<style>
    .main {
        display: flex;
    }
    .form-control{
        width: 500px;
        margin-bottom:5px;
    }
    .moncont,
    .moncont2 {
        flex: 1;
        margin-right: 10px; /* Optional margin between the two divs */
    }

    .control-label{
        margin-bottom:5px;
    }
    
    </style>
<h2>Create a new Clinic</h2>

<form method="post" asp-controller="ClinicsControllers" asp-action="AddClinic">

    <div class="main">

        <div class="moncont">
            <div class="form-group">
                <label asp-for="clinicName" class="control-label">Name</label>
                <input asp-for="clinicName" class="form-control" class="form-control"/>
                <span asp-validation-for="clinicName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="clinicAddress" class="control-label">Address</label>
                <input asp-for="clinicAddress" class="form-control" class="form-control" />
                <span asp-validation-for="clinicAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="clinicAddressNumber" class="control-label">N°</label>
                <input asp-for="clinicAddressNumber" class="form-control" class="form-control" />
                <span asp-validation-for="clinicAddressNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clinicPostalCode" class="control-label">Postal Code</label>
                <input asp-for="clinicPostalCode" class="form-control" class="form-control" />
                <span asp-validation-for="clinicPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clinicCity" class="control-label">City</label>
                <input asp-for="clinicCity" class="form-control" class="form-control" />
                <span asp-validation-for="clinicCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clinicEmail" class="control-label">Email</label>
                <input asp-for="clinicEmail" class="form-control" class="form-control" />
                <span asp-validation-for="clinicEmail" class="text-danger"></span>
            </div>
        </div>


        <div =moncont2>
            <div class="form-group">
                <label asp-for="clinicPhone" class="control-label">Phone</label>
                <input asp-for="clinicPhone" class="form-control" class="form-control" />
                <span asp-validation-for="clinicPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="clinicInami" class="control-label">Inami N°</label>
                <input asp-for="clinicInami" class="form-control" class="form-control" />
                <span asp-validation-for="clinicInami" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

    </div>
   
   

    <div class="form-group">
        <input type="submit" value="Signup as a Clinic" class="btn btn-primary" style="margin-top:10px" />
    </div>
</form>
